# Ignore the trainingdata folder
trainingdata/

# Ignore test files
test.ahk
test.exe

# Ignore bash scripts with system specific commands
getCoordinatesFromLog.sh
getPlayerCoordinatesFromLog.sh

# Ignore .env files
.env

# Ignore python VSL virtual environment
yolo/venv

# Ignore coordinates file
coords.txt